<%= comment.content %> <font color="orange">- <%= comment.author.username %>
  <%= comment.created_at.strftime("%b %d %Y %H:%M") %></font>
   <%= link_to "Reply", post_comment_url(comment.post_id, comment)%>


  <ul>
    <% @all_comments.each do |child_comment| %>
      <% if child_comment.parent_comment_id == comment.id %>
        <li><%= render("comments/comment", comment: child_comment) %></li>
      <% end %>
    <% end %>
  </ul>
