<h2>Edit a Post!</h2>

<form action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
  <input type="text" name="post[title]" value="<%= @post.title %>"></label><br><br>

  <label>URL (optional)
  <input type="text" name="post[url]" value="<%= @post.url %>"></label><br><br>

  <label>Subs
    <input type="hidden" name="post[sub_ids][]" value="">
    <% Sub.all.each do |sub| %>
    <label><%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>"
        <%= "checked" if @post.sub_ids.include?(sub.id) %>>
    </label><% end %>
  </label><br><br>

  <label>Content (optional)<br>
    <textarea name="post[content]" rows="8" cols="80"><%= @post.content %></textarea></label><br><br>


  <input type="submit" value="Edit Post">
</form>
